{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if success %}
        <h1>Şifre Sıfırlama Bağlantısı Gönderildi</h1>
        <p>Şifre sıfırlama bağlantısı e-posta adresinize gönderildi. Lütfen e-postanızı kontrol edin ve talimatları takip edin.</p>
    {% else %}
        <h1>Şifre Sıfırlama</h1>
        <p>Lütfen kayıtlı e-posta adresinizi girin ve şifre sıfırlama bağlantısı almak için "Şifre Sıfırlama Bağlantısı Gönder" düğmesine tıklayın.</p>
        
        <form method="post">
            {% csrf_token %}
            <label for="id_email">E-posta Adresi:</label>
            <input type="email" id="id_email" name="email" required>
            <button type="submit">Şifre Sıfırlama Bağlantısı Gönder</button>
        </form>
    {% endif %}
    </div>
{% endblock %}
